.DS_Store
/.idea
/.php-cs-fixer.cache
/.phpunit.result.cache
/phpstan.neon
/coverage/
/node_modules/
/src/Resources/app/administration/node_modules/
!/src/Resources/app/administration/node_modules/.gitkeep
/src/Resources/app/storefront/dist/
/src/Resources/app/storefront/node_modules/
/src/Resources/public/administration/*.hot-update.js
/src/Resources/public/administration/css/
/src/Resources/public/administration/js/
/src/Resources/public/administration/index.html
/src/Resources/public/static/
/vendor/