includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - tests/Bootstrap.php
