includes:
    - phpstan-baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - %ShopwareRoot%/vendor/phpstan/phpstan-symfony/extension.neon
    - %ShopwareRoot%/vendor/phpstan/phpstan-symfony/rules.neon
    - %ShopwareCoreDir%/DevOps/StaticAnalyze/PHPStan/extension.neon
    - %ShopwareCoreDir%/DevOps/StaticAnalyze/PHPStan/rules.neon

parameters:
    level: max
    tmpDir: /tmp/cache/phpstan
    treatPhpDocTypesAsCertain: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - src
        - tests

    excludePaths:
        - tests/Bootstrap.php
        - tests/PHPUnit/Integration/EntityDefinitionRegistrationTest.php
        - tests/PHPUnit/Integration/SubscriberRegistrationTest.php

    symfony:
        constant_hassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        container_xml_path: '../../..%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'

    bootstrapFiles:
        - bin/static-analyze-autoloader.php
