<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/Bootstrap.php"
         executionOrder="random">

    <php>
        <ini name="memory_limit" value="-1" />
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Shopware\Core\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>

    <testsuites>
        <testsuite name="unit tests">
            <directory>tests/PHPUnit/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <file>./src/ITBConfigurableListingFilters.php</file>
            <directory>./src/DependencyInjection</directory>
            <directory>./src/Migration</directory>
        </exclude>
    </source>
    
    <coverage pathCoverage="true">
        <report>
            <html outputDirectory="coverage/html" />
        </report>
    </coverage>
</phpunit>
