<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundkonfiguration</title>

        <input-field type="bool">
            <name>enabled</name>
            <label>Enable plugin</label>
            <label lang="de-DE">Plugin aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>filterListPosition</name>
            <label>Position of configurable filters in filter list</label>
            <label lang="de-DE">Position der konfigurierbaren Filter in der Filterliste</label>
            <options>
                <option>
                    <id>beginning</id>
                    <name>At the beginning</name>
                    <name lang="de-DE">Am Anfang</name>
                </option>
                <option>
                    <id>end</id>
                    <name>At the end</name>
                    <name lang="de-DE">Am Ende</name>
                </option>
            </options>
            <defaultValue>beginning</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enableManufacturerFilter</name>
            <label>Enable the Shopware-native manufacturer filter</label>
            <label lang="de-DE">Shopware-nativen Hersteller-Filter aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enablePropertiesFilter</name>
            <label>Enable the Shopware-native property filter</label>
            <label lang="de-DE">Shopware-nativen Eigenschaften-Filter aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enablePriceFilter</name>
            <label>Enable the Shopware-native price filter</label>
            <label lang="de-DE">Shopware-nativen Preis-Filter aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enableRatingFilter</name>
            <label>Enable the Shopware-native rating filter</label>
            <label lang="de-DE">Shopware-nativen Bewertungen-Filter aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enableShippingFreeFilter</name>
            <label>Enable the Shopware-native shipping-free filter</label>
            <label lang="de-DE">Shopware-nativen Filter für kostenlosen Versand aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
