{% block itb_configurable_listing_filters_create %}
    <sw-page class="itb-configurable-listing-filters-create">
        {% block itb_configurable_listing_filters_create_header %}
            <template #smart-bar-header>
                <h2>{{ pageTitle }}</h2>
            </template>
        {% endblock %}

        {% block itb_configurable_listing_filters_create_actions %}
            <template #smart-bar-actions>
                <sw-button
                    @click="onCancel">
                    {{ $tc('itb-configurable-listing-filters.filter.buttonCancel') }}
                </sw-button>
                
                <sw-button
                    variant="primary"
                    @click="onSave">
                    {{ $tc('itb-configurable-listing-filters.filter.buttonSave') }}
                </sw-button>
            </template>
        {% endblock %}
        
        {% block itb_configurable_listing_filters_create_language_switch %}
            <template #language-switch>
                <sw-language-switch
                    :saveChangesFunction="saveOnLanguageChange"
                    :abortChangeFunction="abortOnLanguageChange"
                    @on-change="onChangeLanguage"
                ></sw-language-switch>
            </template>
        {% endblock %}

        {% block itb_configurable_listing_filters_create_content %}
            <template #content>
                <sw-card-view>
                    <sw-card
                        :title="pageTitle"
                        :isLoading="isLoading">
                        <template v-if="filterType === 'checkbox'">
                            <itb-checkbox-filter-form
                                ref="filterForm"
                                @saved="onFilterCreated">
                            </itb-checkbox-filter-form>
                        </template>
                        
                        <template v-else-if="filterType === 'multiSelect'">
                            <itb-multi-select-filter-form
                                ref="filterForm"
                                @saved="onFilterCreated">
                            </itb-multi-select-filter-form>
                        </template>
                        
                        <template v-else-if="filterType === 'range'">
                            <itb-range-filter-form
                                ref="filterForm"
                                @saved="onFilterCreated">
                            </itb-range-filter-form>
                        </template>
                    </sw-card>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
