{% block itb_configurable_listing_filters_list %}
    <sw-page class="itb-configurable-listing-filters-list">
        {% block itb_configurable_listing_filters_list_smart_bar_header %}
            <template #smart-bar-header>
                <h2>{{ $tc('itb-configurable-listing-filters.list.title') }}</h2>
            </template>
        {% endblock %}

        {% block itb_configurable_listing_filters_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button-group>
                    <sw-context-button>
                        <template #button>
                            <sw-button variant="primary">
                                {{ $tc('itb-configurable-listing-filters.list.createFilterConfigurationButton') }}
                                <sw-icon name="regular-chevron-down-xs" decorative size="12"></sw-icon>
                            </sw-button>
                        </template>
                        
                        <sw-context-menu-item @click="$router.push({name: 'itb.configurable-listing-filters.create', params: { type: 'checkbox' }})">
                            {{ $tc('itb-configurable-listing-filters.list.createCheckboxFilterConfigurationButton') }}
                        </sw-context-menu-item>
                        
                        <sw-context-menu-item @click="$router.push({name: 'itb.configurable-listing-filters.create', params: { type: 'multi-select' }})">
                            {{ $tc('itb-configurable-listing-filters.list.createMultiSelectFilterConfigurationButton') }}
                        </sw-context-menu-item>
                        
                        <sw-context-menu-item @click="$router.push({name: 'itb.configurable-listing-filters.create', params: { type: 'range' }})">
                            {{ $tc('itb-configurable-listing-filters.list.createRangeFilterConfigurationButton') }}
                        </sw-context-menu-item>

                        <sw-context-menu-item @click="$router.push({name: 'itb.configurable-listing-filters.create', params: { type: 'range-interval' }})">
                            {{ $tc('itb-configurable-listing-filters.list.createRangeIntervalFilterConfigurationButton') }}
                        </sw-context-menu-item>
                    </sw-context-button>
                </sw-button-group>
            </template>
        {% endblock %}
        
        {% block itb_configurable_listing_filters_list_language_switch %}
            <template #language-switch>
                <sw-language-switch
                    :saveChangesFunction="saveOnLanguageChange"
                    :abortChangeFunction="abortOnLanguageChange"
                    @on-change="onChangeLanguage"
                ></sw-language-switch>
            </template>
        {% endblock %}

        {% block itb_configurable_listing_filters_list_content %}
            <template #content>
                <sw-card-view>
                    {% block itb_configurable_listing_filters_list_content_sales_channel_filter %}
                    <sw-card position-identifier="itb-configurable-listing-filters-list-sales-channel-filter">
                        <sw-container columns="1fr" gap="0px 30px">
                            <sw-single-select
                                :label="$tc('itb-configurable-listing-filters.list.labelSalesChannel')"
                                :options="salesChannelFilterOptions"
                                :value="selectedSalesChannelForFiltering"
                                valueProperty="id"
                                labelProperty="name"
                                @change="onSalesChannelFilterChange">
                            </sw-single-select>
                        </sw-container>
                    </sw-card>
                    {% endblock %}

                    {% block itb_configurable_listing_filters_list_grid %}
                    <template>
                        <sw-card position-identifier="itb-configurable-listing-filters-list-grid">
                            <sw-data-grid
                                :dataSource="dataGridRecordsForSalesChannel"
                                :columns="dataGridColumns"
                                :showSelection="false"
                                :showActions="true"
                                :allowInlineEdit="false"
                                :allowColumnEdit="false"
                                identifier="itb-configurable-listing-filters-grid">

                                {% block itb_configurable_listing_filters_list_grid_columns %}
                                <template #column-filterType="{ item }">
                                    {{ item.dalField }}
                                </template>

                                <template #column-enabled="{ item }">
                                    <sw-icon v-if="item.enabled" name="regular-checkmark-xs" small></sw-icon>
                                    <sw-icon v-else name="regular-times-s" small></sw-icon>
                                </template>
                                {% endblock %}

                                {% block itb_configurable_listing_filters_list_grid_actions %}
                                <template #actions="{ item }">
                                    <sw-context-menu-item @click="onEditListingFilterConfiguration(item)">
                                        {{ $tc('itb-configurable-listing-filters.general.buttonEditText') }}
                                    </sw-context-menu-item>
                                    <sw-context-menu-item variant="danger" @click="onDeleteListingFilterConfiguration(item)">
                                        {{ $tc('itb-configurable-listing-filters.general.buttonDeleteText') }}
                                    </sw-context-menu-item>
                                </template>
                                {% endblock %}

                                {% block itb_configurable_listing_filters_list_grid_empty %}
                                <template #empty-state>
                                    <sw-empty-state :title="$tc('itb-configurable-listing-filters.general.buttonAddText')" icon="regular-filter"></sw-empty-state>
                                </template>
                                {% endblock %}
                            </sw-data-grid>
                        </sw-card>
                    </template>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
